/* Medium size screens */

@media screen and (min-width:40rem){
    .pictures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
       }
}

/* Large size screens */
@media screen and (min-width:56rem ){
    header{
        display: flex;
        justify-content: space-between;
    }
   .navigation {
     display: flex;
   } 
   .navigation li {
    display: block;
    flex: 1 1 100%;
   }
   .navigation a {
    text-align: center;
   }
   #menu {
    display: none;
   }

   .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }
}

