/* Global Variables */
:root {
    background:rgb(253, 230, 138);
    --primary-color: #333;
    --secondary-color: #666;
    --background-color: #f5f5f5;
    --text-color: #fff;
}

h1, h2 {
    margin-bottom: 10px;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: Arial, sans-serif;
    
    color: var(--primary-color);
}

header {    
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

main {
    background-color: var(--background-color); 
    display: grid;

    margin-top: 10px;
    
}

/* Hero Image */
.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/* First Section */
.data-section {
    padding: 20px;
    margin: 0 auto;    
    width: 300px;
}

.section-title {  
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--secondary-color); 
    text-align: center;
    padding: 0.3rem;
    
}

.section-list li {
    list-style-type: none;
    padding: 0.5rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}


span:first-child {
    font-weight:600;
    text-align: right;
}

/* Weather Section */
.weather {
    padding: 20px;
    margin: 0 auto;  
    width: 300px;  
}

.weather-icon {
    display: block;
    margin: 0 auto;
    width: 50px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    position: relative;
}
footer p {
    padding: 0.5rem;
}

/* Responsive Design with Media Query */
@media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Desktop layout */
    .hero {
        position: relative;
        width: 100%;
    }

    .data-section {
        position: absolute;
        top: 15%;
        left: 2%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        max-width: 300px;
    }

    .weather {
        position: absolute;
        bottom: 10%;
        right: 5%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        max-width: 300px;
    }

    .section-title {
        margin-left: -40px; /* Title hanging effect */
    }
}
